* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f2efea;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    min-width: 550px;
}

@font-face {
	font-family: 'mrossdoc';
	src:url('/fonts/mrossdoc.eot?xnjtx9');
	src:url('/fonts/mrossdoc.eot?#iefixxnjtx9') format('embedded-opentype'),
		url('/fonts/mrossdoc.ttf?xnjtx9') format('truetype'),
		url('/fonts/mrossdoc.woff?xnjtx9') format('woff'),
		url('/fonts/mrossdoc.svg?xnjtx9#mrossdoc') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mrossdoc';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
	content: "\e600";
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
}

header {
    height: 120px;

}

p {
    padding-bottom: 10px ;
    text-align: left;
}

.wrap {
    width: 50%;
    height: 100%;
    margin: auto;
    display: table;
}

#header .container {
    text-align: center;
}

.logo {
    position: relative;
    right: 20px;
    top: 7px;
    font-size: 74px;
    color: #333;
}

.name {
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

.name:hover, .logo:hover {
    color: #66A7C5;
}

#bio {
    height: 350px;
    margin: auto;
    background-image: -webkit-linear-gradient(top left,#2db343 0,#179990 100%);
    background-image: -moz-linear-gradient(to bottom right,#268dd1 0,#6f2cc7 100%);
    background-image: linear-gradient(to bottom right,#268dd1 0,#6f2cc7 100%);
    color: #fff;
    text-align: center;
}

#practitioners {
    height: 350px;
    margin: auto;
    background-image:  -webkit-linear-gradient(top left,#268dd1 0,#6f2cc7 100%);
    background-image: -moz-linear-gradient(to bottom right,#2db343 0,#179990 100%);
    background-image: linear-gradient(to bottom right,#2db343 0,#179990 100%);
    color: #fff;
}

.container {
    display: table-cell;
    padding: 0;
    text-align: left;
    vertical-align: middle;
}

#practitioners .list {
    list-style: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    overflow: hidden;
}

.docName {
    text-align: left;
    min-width: 60px;
}

.doctor {
    margin-bottom: 10px;
    min-width: 350px;
}


@-ms-viewport {
    width: device-width;
}

/*
@media screen and (max-width: 700px){
    #bio,
    #practitioners {
        height: 450px;
    }

    .wrap {
        width: 95%;
    }

    #practitioners .list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        width: 100%;
    }
}
*/


@media screen and (max-device-width: 700px){
    #header .container .name,
    #header .container .logo {
        font-size: 200%;
    }

    h2 {
        font-size: 200%;
    }

    body {
        font-size: 200%;
    }

    header {
        height: 220px;
    }

    p {
        padding-bottom: 20px;
    }

    .wrap {
        width: 95%;
    }

    #bio,
    #practitioners {
        height: 65vh;
        min-height: 600px;
        overflow: hidden;
    }

    #practitioners .list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        width: 100%;
    }

    .doctor {
        margin-bottom: 20px;
    }
}
