* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f2efea;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    min-width: 550px;
}

@font-face {
	font-family: 'mrossdoc';
	src:url('/fonts/mrossdoc.eot?xnjtx9');
	src:url('/fonts/mrossdoc.eot?#iefixxnjtx9') format('embedded-opentype'),
		url('/fonts/mrossdoc.ttf?xnjtx9') format('truetype'),
		url('/fonts/mrossdoc.woff?xnjtx9') format('woff'),
		url('/fonts/mrossdoc.svg?xnjtx9#mrossdoc') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'mrossdoc';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
	content: "\e600";
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
}

header {
    height: 200px;

}

p {
    padding-bottom: 10px ;
    text-align: left;
}

.wrap {
    width: 60%;
    height: 100%;
    margin: auto;
    display: table;
}

#header .container {
    text-align: center;
    min-width: 500px;
}

#header h1 {
    width: 100%;
}

.logo {
    position: relative;
    right: 20px;
    top: 7px;
    font-size: 120px;
    color: #333;
}

.name {
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    line-height: 1;
    overflow: hidden;
}

.name:hover, .logo:hover {
    color: #66A7C5;
}

#bio {
    height: 250px;
    margin: auto;
    background-image: -webkit-linear-gradient(top left,#2db343 0,#179990 100%);
    background-image: -moz-linear-gradient(to bottom right,#268dd1 0,#6f2cc7 100%);
    background-image: linear-gradient(to bottom right,#268dd1 0,#6f2cc7 100%);
    color: #fff;
    text-align: center;
}

#bio .wrap {
    min-width: 720px;
}

#practitioners {
    height: 350px;
    margin: auto;
    background-image:  -webkit-linear-gradient(top left,#268dd1 0,#6f2cc7 100%);
    background-image: -moz-linear-gradient(to bottom right,#2db343 0,#179990 100%);
    background-image: linear-gradient(to bottom right,#2db343 0,#179990 100%);
    color: #fff;
}

#practitioners .wrap {
    min-width: 720px;
}

.container {
    display: table-cell;
    padding: 0;
    text-align: left;
    vertical-align: middle;
}

ul {
    list-style: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    overflow: hidden;
}

.docName {
    text-align: left;
    min-width: 60px;
}

.doctor {
    min-width: 350px;
    min-height: 100px;
}

.chiros ul, .other ul {
    margin-left: 1em;
    margin-top: 0.25em;
}

#practitioners .chiros, #practitioners .other {
    margin-top: 1em;
}

@-ms-viewport {
    width: device-width;
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
    .wrap {
        width: 95%;
    }
    .name {
        font-size: 175%;
    }

    body {
        font-size: 200%;
    }

    #bio {
        height: 600px;
    }

    #practitioners {
        height: 950px;
    }

    #practitioners .container {
        text-align: left;
    }

    #practitioners .description, #practitioners .doctor {
        width: 100%;
    }

    #practitioners ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        width: 100%;
    }

    .docName {
        font-size: 120%;
    }

    .doctor {
        margin-bottom: 20px;
    }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  #header .container .name,
    #header .container .logo {
        font-size: 200%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 125%;
    }

    body {
        font-size: 125%;
    }

    header {
        250px;
    }

    .wrap {
        width: 80%;
    }

    #bio,
    #practitioners {
        height: 70vh;
        min-height: 400px;
        overflow: hidden;
    }

    .doctor {
        min-height: 150px;
    }

    #practitioners ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/*
@media screen and (max-device-width: 700px){
    #header .container .name,
    #header .container .logo {
        font-size: 200%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 125%;
    }

    body {
        font-size: 200%;
    }

    header {
        height: 220px;
    }

    p {
        padding-bottom: 20px;
    }

    .wrap {
        width: 95%;
    }

    #bio,
    #practitioners {
        height: 70vh;
        min-height: 600px;
        overflow: hidden;
    }

    #practitioners .list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        width: 100%;
    }
}

@media screen and (min-device-width:1000px){
    .name {
        font-size: 200%;
    }
}

@media screen and (max-device-width: 1440px) and (orientation:landscape) {
    #header .container .name,
    #header .container .logo {
        font-size: 200%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 125%;
    }

    body {
        font-size: 125%;
    }

    header {
        250px;
    }

    .wrap {
        width: 80%;
    }

    #bio,
    #practitioners {
        height: 70vh;
        min-height: 400px;
        overflow: hidden;
    }

    #practitioners .list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
*/
